body {
  margin: 0px;
  padding: 0px;
}

button {
  width: 200px;
  height: auto;
}

ul {
  width: 400px;
  height: auto;
  margin: 20px;
}

li:hover {
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-evenly;
}

.background-aqua {
  background-color: aqua;
}

.background-bisque {
  background-color: bisque;
}